Repository marcelfrey29/SEB-07-AKSE-Cloud-Computing: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build Frontend, Test Frontend, Build Todo-Service, Test Todo-Service, Validate Terraform

Build Frontend:
  timeout: 60 minutes
  image: node:16.13.0-bullseye
  cache:
  - key: ${FRONTEND_CACHE_NODE_MODULES_KEY}
    paths:
    - ${FRONTEND_CACHE_NODE_MODULES_PATH}
  - key: ${FRONTEND_CACHE_NPM_KEY}
    paths:
    - ${FRONTEND_CACHE_NPM_PATH}
  before_script:
  - cd todo-frontend
  - npm set timeout=600000
  ...

Test Frontend:
  timeout: 60 minutes
  image: node:16.13.0-bullseye
  cache:
  - key: ${FRONTEND_CACHE_NODE_MODULES_KEY}
    paths:
    - ${FRONTEND_CACHE_NODE_MODULES_PATH}
  - key: ${FRONTEND_CACHE_NPM_KEY}
    paths:
    - ${FRONTEND_CACHE_NPM_PATH}
  before_script:
  - cd todo-frontend
  - npm set timeout=600000
  ...

Build Todo-Service:
  timeout: 60 minutes
  image: node:16.13.0-alpine
  cache:
  - key: ${BACKEND_CACHE_NODE_MODULES_KEY}
    paths:
    - ${BACKEND_CACHE_NODE_MODULES_PATH}
  - key: ${BACKEND_CACHE_NPM_KEY}
    paths:
    - ${BACKEND_CACHE_NPM_PATH}
  before_script:
  - cd todo-service
  - npm set timeout=600000
  ...

Test Todo-Service:
  timeout: 60 minutes
  image: node:16.13.0-alpine
  cache:
  - key: ${BACKEND_CACHE_NODE_MODULES_KEY}
    paths:
    - ${BACKEND_CACHE_NODE_MODULES_PATH}
  - key: ${BACKEND_CACHE_NPM_KEY}
    paths:
    - ${BACKEND_CACHE_NPM_PATH}
  before_script:
  - cd todo-service
  - npm set timeout=600000
  ...

Validate Terraform:
  timeout: 60 minutes
  image: registry.gitlab.com/gitlab-org/terraform-images/stable:latest
  cache:
  - key: ${INFRASTRUCTURE_CACHE_TERRAFORM_KEY}
    paths:
    - ${INFRASTRUCTURE_CACHE_TERRAFORM_PATH}
  before_script:
  - cd $TF_ROOT
  stage: test
  needs:
  - Initialize Terraform
  script:
  - gitlab-terraform validate
  ...

Revert "build(): try to fix docker build process"
  .gitlab-ci.yml
Due: none

build(): try to fix docker build process
  .gitlab-ci.yml
Due: none

docs(): add Keycloak Documentation
  keycloak/README.md
Due: none

docs(): add DynamoDB Documentation to Backend
  todo-service/README.md
Due: Build Todo-Service, Test Todo-Service

docs(): add Terraform Documentation
  terraform/README.md
  terraform/workspaces/config/aws.tfvars
  terraform/workspaces/config/keycloak-clients.tf
  terraform/workspaces/config/local.tfvars
Due: Validate Terraform

docs(): add AWS Architecture Diagram
  documentation/06.Final-Presentation/AWS-Architecture-Complete.jpg
  documentation/06.Final-Presentation/AWS-Architecture-Complete.svg
  documentation/06.Final-Presentation/AWS-Architecture-Simplified.jpg
  documentation/06.Final-Presentation/AWS-Architecture-Simplified.svg
  documentation/06.Final-Presentation/AWS-Architecture.drawio
Due: none

docs(): improved documentation structure
  documentation/01.Idea/README.md
  documentation/02.DynamoDB-Modelling/ERM-Diagram.jpg
  documentation/02.DynamoDB-Modelling/README.md
  documentation/02.DynamoDB-Modelling/Structure-Example.jpg
  documentation/02.DynamoDB-Modelling/Todo-DB-DynamoDB.drawio
  documentation/03.DynamoDB-Modelling/README.md
  documentation/04.Intermediate-Presentation/README.md
  documentation/05.Intermediate-Presentation/Architecture.drawio
  documentation/05.Intermediate-Presentation/Local-Architecture.jpg
  documentation/05.Intermediate-Presentation/README.md
  documentation/Documentation.md
Due: none

docs(): update main README
  README.md
Due: none

build(): pass variables to Terraform. Fix #12
  .gitlab-ci.yml
Due: none

build(): remove cleanup step
  .gitlab-ci.yml
Due: none

docs(): add local setup documentation
  documentation/03.Local-Setup/README.md
Due: none

fix(): add missing IAM permissions to the Automation-Bot Group
  terraform/workspaces/aws-core/iam-groups.tf
Due: Validate Terraform

fix(): add the missing port mapping to configure DynamoDB
  docker-compose.yml
Due: none

docs(): documented possible improvements
  README.md
  documentation/06.Final-Presentation/AWS-Architecture.drawio
  documentation/06.Final-Presentation/Improvement-ASG.jpg
  documentation/06.Final-Presentation/Improvement-ASG.svg
  documentation/06.Final-Presentation/Improvement-Load-Balancing.jpg
  documentation/06.Final-Presentation/Improvement-Load-Balancing.svg
  documentation/06.Final-Presentation/Improvements-API-Gateway.jpg
  documentation/06.Final-Presentation/Improvements-API-Gateway.svg
  documentation/07.Learnings-and-Possible-Improvements/IMPROVEMENTS.md
Due: none

docs(): documented some of my learnings
  documentation/07.Learnings-and-Possible-Improvements/LEARNINGS.md
Due: none

docs(): add Terraform Graph, app screenshots, CI/CD screenshots and metrics screenshots to the main README
  README.md
  documentation/06.Final-Presentation/App-01.png
  documentation/06.Final-Presentation/App-02.png
  documentation/06.Final-Presentation/App-03.png
  documentation/06.Final-Presentation/Billing-Free-Tier.png
  documentation/06.Final-Presentation/EC2-Metrics.png
  documentation/06.Final-Presentation/ECS-Metrics.png
  documentation/06.Final-Presentation/Pipeline-Dependencies.png
  documentation/06.Final-Presentation/Pipeline-Dependency-Graph.png
  documentation/06.Final-Presentation/Pipeline-Stages.png
  documentation/06.Final-Presentation/RDS-Metrics.png
  documentation/06.Final-Presentation/S3-Metrics.png
  documentation/06.Final-Presentation/Terraform-Graph-1.svg
  documentation/06.Final-Presentation/Terraform-Graph-2.svg
Due: none

docs(): add setup script
  documentation/03.Local-Setup/README.md
  setup/setup.sh
Due: none

docs(): add AWS setup guide
  documentation/04.AWS-Setup/Chrome-1.png
  documentation/04.AWS-Setup/Chrome-2.png
  documentation/04.AWS-Setup/DB-Tools-Keycloak-SSL.png
  documentation/04.AWS-Setup/Firefox-1.png
  documentation/04.AWS-Setup/Firefox-2.png
  documentation/04.AWS-Setup/README.md
Due: none

docs(): documentation improvements
  README.md
  documentation/07.Learnings-and-Possible-Improvements/IMPROVEMENTS.md
  documentation/07.Learnings-and-Possible-Improvements/LEARNINGS.md
  keycloak/README.md
Due: none

docs(): add final presentation
  README.md
  documentation/06.Final-Presentation/README.md
Due: none

docs(): documentation improvements
  README.md
  documentation/03.Local-Setup/README.md
  documentation/04.AWS-Setup/README.md
  documentation/05.Intermediate-Presentation/README.md
  documentation/06.Final-Presentation/MR-CI.png
  documentation/06.Final-Presentation/MR-TF-Report.png
  documentation/06.Final-Presentation/README.md
  documentation/07.Learnings-and-Possible-Improvements/IMPROVEMENTS.md
  documentation/07.Learnings-and-Possible-Improvements/LEARNINGS.md
  terraform/README.md
  todo-frontend/README.md
  todo-service/README.md
Due: Build Frontend, Test Frontend, Build Todo-Service, Test Todo-Service, Validate Terraform

fix(): add student id
  README.md
Due: none

fix(): ignore README files in Prettier checks
  .intellij/runconfig/Frontend _ Prettier (Format).run.xml
  .intellij/runconfig/Frontend _ Start (Dev).run.xml
  .intellij/runconfig/Frontend _ [CORE] _ Prettier (Verify).run.xml
  .intellij/runconfig/Todo-Service _ Prettier (Format).run.xml
  .intellij/runconfig/Todo-Service _ Prettier (Verify).run.xml
  .intellij/runconfig/Todo-Service _ Start (Dev).run.xml
  .intellij/runconfig/Todo-Service _ Test.run.xml
  .intellij/runconfig/[DEV] Frontend _ Generate.run.xml
  .intellij/runconfig/[PROD] Frontend _ Generate.run.xml
  .intellij/runconfig/[PROD] Frontend _ Start.run.xml
  .intellij/runconfig/[PROD] Todo-Service _ Build.run.xml
  todo-frontend/.prettierignore
Due: Build Frontend, Test Frontend

fix(): install CLI tools in the Development Images
  todo-frontend/Dockerfile
  todo-service/Dockerfile
Due: Build Frontend, Test Frontend, Build Todo-Service, Test Todo-Service

Revert "fix(): install CLI tools in the Development Images"
  todo-frontend/Dockerfile
  todo-service/Dockerfile
Due: Build Frontend, Test Frontend, Build Todo-Service, Test Todo-Service

fix(): prevent overriding of the node_modules folder
  docker-compose.yml
  todo-frontend/README.md
  todo-service/README.md
Due: Build Frontend, Test Frontend, Build Todo-Service, Test Todo-Service

fix(): documentation improvements
  documentation/03.Local-Setup/README.md
  setup/setup.sh
Due: none

fix(): documentation improvements
  README.md
  documentation/03.Local-Setup/README.md
  documentation/04.AWS-Setup/README.md
  documentation/07.Learnings-and-Possible-Improvements/IMPROVEMENTS.md
  terraform/README.md
Due: Validate Terraform

chore: remove old URLs from readme
  README.md
Due: none

Path conditions:
  Build Frontend: any of: todo-frontend/**/*
  Test Frontend: any of: todo-frontend/**/*
  Build Todo-Service: any of: todo-service/**/*
  Test Todo-Service: any of: todo-service/**/*
  Validate Terraform: any of: terraform/**/*
